@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Semantic Color Variables */
  --pink-primary: #ff66c4;
  --pink-secondary-light: #fff1ff;
  --pink-hover: #fe83cf;
  --pink-dark: #24091a;
  --blue-primary: #5271ff;

  /* Text Colors */
  --text-default: var(--pink-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff1ff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
